<!-- MODAL -->
<div id="modal_booking" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">

  <form class="row-fluid" action="{% Url Bookings, Booking %}" method="post">
    <!-- MODAL HEADER-->
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&#215;</button>
      <h3>{% T Make a booking %}</h3>
    </div>
    <!-- END MODAL HEADER-->
    <!-- MODAL BODY-->
    <div class="modal-body">

      <input type="hidden" id="booking_id" name="Booking.Id" value="" />
      <input type="hidden" id="Booking_FromTime" name="Booking.FromTime" value="" />
      <input type="hidden" id="Booking_ToTime" name="Booking.ToTime" value="" />

      {% if data.Coworker == null %}

      <div class="row-fluid" id="registered-question">
        <div class="span12 text-center">
          {% T Are you already registered or have used any services at {0}? || {{ data.Business.Name }} %}
          <br /><br />
          <a href="#" onclick="window.location='{% Url Login, Index, lang: data.Language %}&returnUrl={{ data.URL }}'" class="btn btn-success">{% T Yes %}</a>
          <a href="#" onclick="$('#continue-booking-button').show(); $('#registered-question').hide(); $('#quicksignup-details').show();" class="btn btn-danger">{% T No %}</a>
        </div>
      </div>


      <div style="display: none" id="quicksignup-details">
        <div class="row-fluid">
          <div class="span4">
            <label>{% T FullName %}</label>
            <input type="text" class="span12" id="Coworker_FullName" name="Coworker.FullName" />
          </div>
          <div class="span4">
            <label>{% T Email %}</label>
            <input placeholder="email@example.com" type="email" class="span12" id="Coworker_Email" name="Coworker.Email"/>
          </div>
          <div class="span4">
            <label>{% T Phone %}</label>
            <input type="text" class="span12" id="Coworker_MobilePhone" name="Coworker.MobilePhone" />
          </div>
        </div>
        <div class="row-fluid">
          <div class="span12">
            <label for="Coworker_Address">{% T Address %}</label>
            <textarea rows="2" id="Coworker_Address" name="Coworker.Address" type="text" class="span12">{{ data.Coworker.Address }}</textarea>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <label for="Coworker_PostCode">{% T Postcode / Zip code %}</label>
            <input value="{{ data.Coworker.PostCode }}" class="span12" type="text" name="Coworker.PostCode" id="Coworker_PostCode">
          </div>
          <div class="span4">
            <label for="Coworker_CityName">{% T Town %}</label>
            <input value="{{ data.Coworker.CityName }}" class="span12" type="text" name="Coworker.CityName" id="Coworker_CityName">
          </div>
          <div class="span4">
            <label for="Coworker_State">{% T State / Province %}</label>
            <input value="{{ data.Coworker.State }}" class="span12" type="text" name="Coworker.State" id="Coworker_State">
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <label for="Coworker_TaxIDNumber">{% T TAX/VAT Number %}</label>
            <input value="{{ data.Coworker.TaxIDNumber }}" class="span12" type="text" name="Coworker.TaxIDNumber" id="Coworker_TaxIDNumber">
          </div>
          <div class="span8">
            <label for="Coworker_BillingEmail">{% T Send Invoice To %}</label>
            <input placeholder="email@example.com" value="{{ data.Coworker.BillingEmail }}" class="span12" type="email" name="Coworker.BillingEmail" id="Coworker_BillingEmail">
          </div>
        </div>

      </div>


      {% endif %}
      <div id="booking-details" style="{% if data.Coworker == null %}display: none{% endif %}">
        <div class="row-fluid">
          <label>{% T Resource %}</label>
          {% ResourcesDropdown 0, Booking.Resource, span12 %}
        </div>
        <div class="row-fluid">
          <div class="span6">
            <label>{% T From %}</label>
            <div id="Booking_From" class="input-append date time">
              <input type="text" />
              <span class="add-on"><i class="icon-th icon-calendar"></i></span>
            </div>
          </div>

          <div class="span6">
            <label>{% T To %}</label>
            <div id="Booking_To" class="input-append date">
              <input type="text" />
              <span class="add-on"><i class="icon-th icon-calendar"></i></span>
            </div>
          </div>
        </div>
        <div style="display: none" class="alert alert-danger resource_not_available">
          <span>{% T Resource is not available at this time %}</span>
        </div>
        <div class="alert alert-info resource_available" data-bind="visible: bookingProducts() && bookingProducts().length > 0">
          <strong>{% T Price %}:</strong> <span class="price">...</span> <br />
          <small>{% T Price plan concessions are not included in this price. %}</small>
        </div>
        <div class="row-fluid hidden-phone" data-bind="visible: bookingProducts() && bookingProducts().length > 0">
          <div class="span12">
            <label><strong>{% T Select the items you will require during this booking %}</strong></label>
            <table class="table">
              <tbody data-bind="foreach: bookingProducts">
                <tr>
                  <td>
                    <input type="hidden" data-bind="attr: { name: 'Products[' + $index() + '].ProductId' }, value: ProductId" />
                    <input type="hidden" data-bind="attr: { name: 'Products[' + $index() + '].Selected' }, value: Selected" />
                    <input type="hidden" data-bind="attr: { name: 'Products[' + $index() + '].Quantity' }, value: Quantity" />

                    <span data-bind="text: ProductName"></span>
                    <span data-bind="text: '(' + FormattedPrice() + '/h.)', visible: Price() != 0 && InvoiceInMinutes()"></span>
                    <span data-bind="text: '(' + FormattedPrice() + ')', visible: Price() != 0 && InvoiceInMinutes() == false"></span>
                    <br /><small data-bind="text: ProductDescription"></small>
                  </td>
                  <td style="width:45px">
                    <input data-bind="visible: RequestQuantity() == false, checked: Selected, event: { change: checkBooking }" type="checkbox" />
                    <input class="" data-bind="visible: RequestQuantity(), value: Quantity, event: { change: checkBooking }" type="number" value="0" style="width: 45px" />
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>

        <div class="alert alert-info resource_available">
          <strong>{% T Price %}:</strong> <span class="price">...</span> <br />
          {% if data.Local.IncludeBookingCreditInPrice == false %}
          <small>{% T Price plan concessions are not included in this price. %}</small>
          {% endif %}
        </div>
        <div class="row-fluid hidden-phone">
          <div class="span12">
            <label>{% T Notes %}</label>
            <textarea class="span12" id="Booking_Notes" name="Booking.Notes"></textarea>
          </div>
        </div>

      </div>
    </div>
    <!-- END MODAL BODY-->
    <!-- MODAL FOOTER-->
    <div class="modal-footer">
      <button id="delete-button" class="hidden-phone btn btn-danger pull-left">{% T Cancel this booking %}</button>
      <button class="btn btn-link" data-dismiss="modal" aria-hidden="true">{% T Go back %}</button>
      <button type="submit" id="save-booking-button" class="btn btn-success">{% T Save booking %}</button>
      <a href="#" id="continue-booking-button" onclick="verifyContactDetailsAndContinue()" class="btn btn-success">{% T Continue %}</a>
    </div>
  </form>
  <!-- END MODAL FOOTER-->
</div>
<!-- END MODAL -->
<script>
  function verifyContactDetailsAndContinue(){
    if(!$('#Coworker_FullName').val()){
      showErrorMessage('{% T Please enter your full name %}')
        return;
    }
    if(!$('#Coworker_Email').val()){
      showErrorMessage('{% T Please enter full email address %}')
        return;
    }
    $('#continue-booking-button').hide(); $('#save-booking-button').show(); $('#quicksignup-details').hide(); $('#booking-details').show();
  }
  function postAndClose(url, data, callback) {
    $('#save-booking-button').attr('disabled', 'disabled');
    $.post(url, data, function (result) {
      if (result.WasSuccessful) {
        $('#modal_booking').modal('hide');

        if (callback) callback();
        showSuccessMessage(result.Message );
      }
      else
        showErrorMessage(result.Message || '{% T Your account is currently on hold. Contact us for more information %}');

      $('#save-booking-button').attr('disabled', null);
    });
  }
  function createBooking(date) {

    $('#Booking_To').datetimepicker('setStartDate', null);
    $('#Booking_From').datetimepicker('setStartDate', null);
    $('#Booking_To').datetimepicker('setEndDate', null);
    $('#Booking_From').datetimepicker('setEndDate', null);

    {% if data.Coworker == null %}
      $('#registered-question').show();
     $('#quicksignup-details').hide();
     $('#save-booking-button').hide();
     $('#booking-details').hide();
     {% endif %}
       $('#continue-booking-button').hide();


      var $f = $('#modal_booking form');
      $('#modal_booking').modal('show');

      $('#booking_id').val(0);

      $('#Booking_To').datetimepicker('setStartDate', null);
      $('#Booking_From').datetimepicker('setStartDate', null);
      $('#Booking_To').datetimepicker('setEndDate', null);
      $('#Booking_From').datetimepicker('setEndDate', null);

      $('#Booking_From').datetimepicker('setDate', date);
      $('#Booking_To').datetimepicker('setDate', moment(date).add(1, 'hours').toDate());

      var rid = $('#resource-filter').val()
          if(rid) $('#Booking_Resource').val(rid);

      $('#delete-button').hide();
      vm.updateProducts();
      setTimeout(checkBooking, 1000);
     }


     function showBooking(calEvent) {
       $.get('{% Url Bookings, BookingJson %}/' + calEvent.id, function (data) {

         $('#continue-booking-button').hide();
         var $f = $('#modal_booking form');
         $f.find('#Booking_Resource').val(data.Value.ResourceId);
         $('#modal_booking').modal('show');

         $('#booking_id').val(data.Value.Id);

         $('#Booking_To').datetimepicker('setStartDate', null);
         $('#Booking_From').datetimepicker('setStartDate', null);
         $('#Booking_To').datetimepicker('setEndDate', null);
         $('#Booking_From').datetimepicker('setEndDate', null);

         var from = new Date(data.Value.FromTime);
         var to = new Date(data.Value.ToTime);
         var fromOffset = from.getTimezoneOffset() * 60000;
         var toOffset = to.getTimezoneOffset() * 60000;

         $('#Booking_From').datetimepicker('setDate', new Date(from.getTime() + fromOffset));
         $('#Booking_To').datetimepicker('setDate', new Date(to.getTime() + toOffset));

         $('#delete-button').show();
         $('#Booking_Notes').val(data.Value.Notes);
         setTimeout(checkBooking, 500);
         vm.updateProducts();
       });
     }

     function getBookingData() {
       var fromDate = $('#Booking_From').datetimepicker('getDate');
       var toDate = $('#Booking_To').datetimepicker('getDate');

       $('#Booking_FromTime').val(fromDate.getFullYear() + '-' + (fromDate.getMonth() + 1) + '-' + fromDate.getDate() + ' ' + fromDate.getHours() + ':' + fromDate.getMinutes());
       $('#Booking_ToTime').val(toDate.getFullYear() + '-' + (toDate.getMonth() + 1) + '-' + toDate.getDate() + ' ' + toDate.getHours() + ':' + toDate.getMinutes());

       return $('#modal_booking form').serialize();
     }
     function checkBooking() {

       var data = getBookingData();
       function doRequest(result) {
         getPrice();
         if (result.ok)
           $('.resource_not_available').hide();
         else {
           $('.resource_not_available').show();
           $('.resource_not_available').html(result.message);
         }


       }
       $.post('{% Url Bookings, IsBookingAvailableDetails %}', data, doRequest);
     }


     function getPrice() {
       var data = getBookingData();
       $.post('{% Url Bookings, GetBookingCostDetailed %}', data, function (data) {
         $('.price').text(data);
       });
     }
</script>
