{% extends master.master %}
{% block title %}{% T People at {0} || data.Business.Name %}{% endblock %}
{% block content %}
{% if data.Local.ShowCheckInMembers and data.Local.CheckedIn == false  %}
<style>
  .checkedin img { border-color: green !important; }
</style>
{% endif %}

<div id="wrapper">
  <!-- CONTAINER -->
  <div id="main" class="container">
    <!-- BREADCRUMB -->
    <ul class="breadcrumb">
      <li><a href="{% Url PublicHome, Index %}">{% T Home %}</a> <span class="divider">/</span></li>
      <li class="active">{% T People at {0} || data.Business.Name %}</li>
    </ul>
    <!-- END BREADCRUMB -->
    <div class="row">
      <!-- CONTENT -->

      <section id="content" class="span9">

        {% if data.Local.Coworkers.size == 0 and data.Local.Teams.size == 0 %}
        <div class="well well-large text-center">
          <h2>{% T We found no results... :/ %}</h2>
          <div class="media comment comment-form">
            <a class="btn btn-orange btn-large" href="{% Url Profile, Index %}">{% T Edit your profile %}</a>
          </div>
        </div>
        {% endif %}
        <div>
          {% if data.Local.Tag == null %}
          {% DivRow team in data.Local.Teams cols:3 %}
          <div class="team_block member_block span3 text-center">
            <a href="{% Url Directory, Team, Id: team.Id, name: team.Name | Clean %}" class="user_avatar">
              <img class="img-circle" style="height: 140px; width: 140px;" height="140" width="140" src="{% Url Team, GetAvatar, id: team.Id, h:140, w:140, mode: 'Pad' %}" alt="{{ team.Name | Capitalize }}" >
            </a>
            <h4 class="subheader">
              <a class="profile-link" href="{% Url Directory, Team, Id: team.Id, name: team.Name | Clean %}">
                {{ team.Name | Capitalize }}
              </a>
            </h4>

            {% if team.ProfileWebsite.size > 0 %}
            <a target="_blank" href="{{ team.ProfileWebsite }}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-earth"></span></a>
            {% else %}
            <a href="{% Url Directory, Team, Id: team.Id, name: team.Name | Clean %}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-earth"></span></a>
            {% endif %}
            {% if team.Twitter.size > 0 %}
            <a target="_blank" href="http://twitter.com/{{ team.Twitter }}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-twitter"></span></a>
            {% endif %}
            {% if team.Linkedin.size > 0 %}
            <a target="_blank" href="{{ team.Linkedin }}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-linkedin"></span></a>
            {% endif %}
            {% if team.Facebook.size > 0 %}
            <a target="_blank" href="{{ team.Facebook }}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-facebook"></span></a>
            {% endif %}
            {% if team.Skype.size > 0 %}
            <a href="callto://{{ team.Skype }}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-skype"></span></a>
            {% endif %}


          </div>
          {% endDivRow %}
          {% endif %}

          {% DivRow member in data.Local.Coworkers cols:3 %}
          <!-- member -->
          <div class="member_block span3 text-center {% if member.CheckedIn %}checkedin{% endif %}">
            <a href="{% Url Directory, Profile, Id: member.Id, name: member.FullName | Clean %}" class="user_avatar">
              <img class="img-circle" style="height: 140px; width: 140px;" height="140" width="140" src="{% Url Coworker, GetAvatar, id: member.Id, h:140, w:140 %}" alt="{{ member.FullName | Capitalize }}" >
            </a>
            {% if member.CheckedIn %}
            <br/>
            <span class="label label-success">{% T checked in %}</span>
            {% endif %}
            <h4 class="subheader">
              <a class="profile-link" href="{% Url Directory, Profile, Id: member.Id, name: member.FullName | Clean %}">
                {{ member.FullName | Capitalize }}
              </a>
            </h4>
            {% if member.CompanyName != null %}
            <p>
              <a title="{{ member.CompanyName }}" href="{% Url Directory, Search %}?company={{ member.CompanyName }}">{{ member.CompanyName | TruncateWords: 3 }}</a>
              &nbsp;
            </p>
            {% endif %}
            {% if member.ProfileWebsite.size > 0 %}
            <a target="_blank" href="{{ member.ProfileWebsite }}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-earth"></span></a>
            {% endif %}
            {% if member.Twitter.size > 0 %}
            <a target="_blank" href="http://twitter.com/{{ member.Twitter }}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-twitter"></span></a>
            {% endif %}
            {% if member.Linkedin.size > 0 %}
            <a target="_blank" href="{{ member.Linkedin }}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-linkedin"></span></a>
            {% endif %}
            {% if member.Facebook.size > 0 %}
            <a target="_blank" href="{{ member.Facebook }}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-facebook"></span></a>
            {% endif %}
            {% if member.Skype.size > 0 %}
            <a href="callto://{{ member.Skype }}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-skype"></span></a>
            {% endif %}
            {% if member.Google.size > 0 %}
            <a target="_blank" href="{{ member.Google }}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-google-plus"></span></a>
            {% endif %}
            {% if member.Github.size > 0 %}
            <a target="_blank" href="{{ member.Github }}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-github"></span></a>
            {% endif %}
            {% if member.Pinterest.size > 0 %}
            <a target="_blank" href="{{ member.Pinterest }}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-pinterest"></span></a>
            {% endif %}
            {% if member.Flickr.size > 0 %}
            <a target="_blank" href="{{ member.Flickr }}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-flickr"></span></a>
            {% endif %}
            {% if member.Instagram.size > 0 %}
            <a target="_blank" href="{{ member.Instagram }}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-instagram"></span></a>
            {% endif %}
            {% if member.Vimeo.size > 0 %}
            <a target="_blank" href="{{ member.Vimeo }}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-vimeo"></span></a>
            {% endif %}
            {% if member.Tumblr.size > 0 %}
            <a target="_blank" href="{{ member.Tumblr }}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-tumblr"></span></a>
            {% endif %}
            {% if member.Blogger.size > 0 %}
            <a target="_blank" href="{{ member.Blogger }}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-blogger"></span></a>
            {% endif %}
          </div>
          <!-- END member -->
          {% endDivRow %}
        </div>
        <style>

        </style>
      </section>

      <aside id="directoy-search" class="span3">
        <div class="text-center">
          <form class="form-search" method="GET" action="{% Url Directory, Search %}">
            <div class="input-append">
              <input id="coworkers-search" value="{{ data.Local.Query }}{{ data.Local.Tag }}" type="text" name="query" class="input-large search-query" autocomplete="off" placeholder="{% T Search... %}">
              <button type="submit" class="btn">
                <i class="icon-search"></i>
              </button>
            </div>
            {% if data.Local.Query.size > 0 or data.Local.Tag.size > 0 %}
            <a class="btn btn-link btn-small" href="{% Url Directory, Index %}">{% T Show all %}</a>
            {% endif %}
          </form>
          <hr/>
        </div>
        <div>
          <div class="accordion" id="search-panels">

            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#search-panels" href="#search-1">
                  {% T Skills %}
                </a>
              </div>
              <div id="search-1" class="accordion-body collapse in">
                <div class="accordion-inner">
                  <ul id="top-tags">
                    {% for tag in data.Local.TopTags %}
                    {% assign thisTag = tag.Tag | Downcase %}
                    <li class="{% if data.Local.Tag contains thisTag %}selected{% endif %}">
                      <label>
                        <input class="tag-checkbox" disabled="disabled" type="checkbox" {% if data.Local.Tag contains thisTag %}checked{% endif %} data-tag="{{ tag.Tag }}"/>
                      	<a class="tag-checkbox-link" href="{% Url Directory, Index, tag: tag.Tag %}">{{ tag.Tag }}</a>
                        <span class="pull-right">[{{ tag.Count }}]</span>
                      </label>

                    </li>
                    {% endfor %}

                    {% for tag in data.Local.OtherTags %}
                    {% assign thisTag = tag.Tag | Downcase %}
                    <li class="other-tag {% if data.Local.Tag contains thisTag %}selected{% else %}hide{% endif %}">
                      <label>
                        <input class="tag-checkbox" disabled="disabled" type="checkbox" {% if data.Local.Tag contains thisTag %}checked{% endif %} data-tag="{{ tag.Tag }}"/>
                      	<a class="tag-checkbox-link" href="{% Url Directory, Index, tag: tag.Tag %}">{{ tag.Tag }}</a>
                        <span class="pull-right">[{{ tag.Count }}]</span>
                      </label>

                    </li>
                    {% endfor %}
                  </ul>
                  {% if data.Local.OtherTags.size > 0 %}
                  <small><a href="#" onclick="$('.other-tag').show(); $(this).hide(); return false;">{% T Show all %}</a></small>
                  {% endif %}
                </div>
              </div>
            </div>

            <!-- CUSTOM FIELDS SEARCH -->
            {% for cm in data.Local.CustomFields %}
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#search-panels" href="#search-{{ cm.Id }}">
                  {% T cm.NameInSearch %}
                </a>
              </div>
              <div id="search-{{ cm.Id }}" class="accordion-body collapse {% if data.QueryString[cm.FieldName] != null %}in{% endif %}">
                <div class="accordion-inner">

                  {% if cm.FieldType == 'Dropdown' %}

                  <ul>
                    {% for opt in cm.AvailableOptionArray %}
                    <li class="{% if data.QueryString[cm.FieldName] == opt %}selected{% endif %}">
                      <label>
                        <input name="custom{{ cm.Id }}" class="cm-checkbox" disabled="disabled" type="radio" {% if data.QueryString[cm.FieldName] == opt %}checked{% endif %} data-value="{{ opt }}" data-cmindex="{{ cm.CustomFieldIndex }}"/>
                        <a href="{% Url Directory, Index %}?Custom{{ cm.CustomFieldIndex }}={{ opt }}" class="cm-checkbox-link">{{ opt }}</a>
                      </label>
                    </li>
                    {% endfor %}
                  </ul>

                  {% else cm.FieldType = 'Boolean' %}

                  <ul>
                    <li class="{% if data.QueryString[cm.FieldName] == 'true' %}selected{% endif %}">
                      <label>
                        <input name="custom{{ cm.Id }}" class="cm-checkbox" disabled="disabled" type="radio" {% if data.QueryString[cm.FieldName] == 'true' %}checked{% endif %} data-value="true" data-cmindex="{{ cm.CustomFieldIndex }}"/>
                        <a href="{% Url Directory, Index %}?Custom{{ cm.CustomFieldIndex }}=true" class="cm-checkbox-link">{% T Yes %}</a>
                      </label>
                    </li>
                    <li class="{% if data.QueryString[cm.FieldName] == '' %}selected{% endif %}">
                      <label>
                        <input name="custom{{ cm.Id }}" class="cm-checkbox" disabled="disabled" type="radio" {% if data.QueryString[cm.FieldName] == '' %}checked{% endif %} data-value="" data-cmindex="{{ cm.CustomFieldIndex }}"/>
                        <a href="{% Url Directory, Index %}?Custom{{ cm.CustomFieldIndex }}=" class="cm-checkbox-link">{% T No %}</a>
                      </label>
                    </li>
                  </ul>
                  {% endif %}

                </div>
              </div>
            </div>
            {% endfor %}
            <!-- CUSTOM FIELDS SEARCH END -->

          </div>
        </div>
      </aside>
      <!-- END CONTENT -->

    </div>
  </div>
  <!-- END CONTAINER -->
</div>
{% endblock %}
{% block script %}
<script>
  $(function(){
    var data = [
      {% for tag in data.Local.AllTags %}
      '#{{ tag | Replace: "'","\'" }}',
      {% endfor %}
      {% for coworker in data.Local.Coworkers %}
      '{{ coworker.FullName | Replace: "'","\'" }}',
      {% endfor %}
      ''
    ];
    $("#coworkers-search").typeahead({
      source: data,
      limit: 15
    });

    $('.tag-checkbox, .cm-checkbox').click(function(){
      var el = $(this);
      if(el.attr('type') == 'radio' && el.is(':checked'))
        el.attr('checked', null);

      buildSearchQuery()
    });
    $('.tag-checkbox, .cm-checkbox').attr('disabled',null);
    $('.cm-checkbox-link, .tag-checkbox-link').click(function(){
      var cb = $(this).siblings('input');

      if(cb.is(':checked'))
         cb.attr('checked', null);
      else
         cb.attr('checked','checked');

      buildSearchQuery();
      return false;
    });


    function buildSearchQuery(){
      //tags
      var url = '{% Url Directory, Index %}';
      var tags = '';
      var customs = '';
      $('.tag-checkbox').each(function(k, el){
        var cb = $(el);
        if(cb.is(':checked'))
          tags = tags + cb.attr('data-tag') + ',';
      });

      tags = tags.substring(0, tags.length - 1);

      $('.cm-checkbox').each(function(k, el){
        var cb = $(el);
        if(cb.is(':checked') && cb.attr('data-value'))
          customs = customs + 'Custom' + cb.attr('data-cmindex') + '=' + cb.attr('data-value') + '&';
      });

      var location = url + '?' + (tags ? 'tag=' + tags + '&': '') + (customs ? customs: '');
      location = location.substring(0, location.length - 1);
      window.location = location;

      return false;
     }
  });
</script>
{% endblock %}
