{% extends master.master %}
{% block htmlTag %}itemscope itemtype="http://schema.org/Event"{% endblock %}
{% block title %}{{ data.Local.Event.Name }} | {% T Events %} | {{ data.Business.Name }}{% endblock %}
{% block meta %}

<meta itemprop="name" content="{{ data.Local.Event.Name | StripHtml }}" />
<meta itemprop="description" content="{{ data.Local.Event.ShortDescription | StripHtml }}" />
{% if data.Local.BlogPost.HasImage %}
<meta itemprop="image" content="https://{{ data.Business.WebAddress }}.{{ data.PublicSiteSubDomain }}{% Url Events, GetLargeImage, id: data.Local.Event.Id, w: 200, h: 200 %}" />
{% endif %}

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@{{ data.Setting_Social_Twitter }}" />
<meta name="twitter:title" content="{{ data.Local.Event.Name | StripHtml  | Truncate: 70 }}" />
<meta name="twitter:description" content="{{ data.Local.Event.ShortDescription | StripHtml | Truncate: 200 }}" />
<meta name="twitter:creator" content="@{{ data.Setting_Social_Twitter }}" />
{% if data.Local.Event.HasLargeImage %}
<meta name="twitter:image:src" content="https://{{ data.Business.WebAddress }}.{{ data.PublicSiteSubDomain }}{% Url Events, GetLargeImage, id: data.Local.Event.Id, w: 200, h: 200 %}" />
{% endif %}

<!-- Open Graph data -->
<meta property="og:title" content="{{ data.Local.Event.Name | StripHtml }}" />
<meta property="og:type" content="event" />
{% if data.Local.Event.HasLargeImage %}
<meta property="og:image" content="http://{{ data.Business.WebAddress }}.{{ data.PublicSiteSubDomain }}{% Url Events, GetLargeImage, id: data.Local.Event.Id, w: 800  %}" />
<meta property="og:image:secure_url" content="https://{{ data.Business.WebAddress }}.{{ data.PublicSiteSubDomain }}{% Url Events, GetLargeImage, id: data.Local.Event.Id, w: 200, h: 200  %}" />
{% endif %}
<meta property="og:description" content="{{ data.Local.Event.ShortDescription | StripHtml }}" />
<meta property="og:site_name" content="{{ data.Business.Name }}" />


{% endblock %}
{% block content %}
<div id="wrapper">
  <!-- CONTAINER -->
  <div id="main" class="container">
    <!-- BREADCRUMB -->
    <ul class="breadcrumb">
      <li><a href="{% Url PublicHome, Index %}">{% T Home %}</a> <span class="divider">/</span></li>
      <li><a href="{% Url Events, Index %}">{% T Events %}</a> <span class="divider">/</span></li>
      <li class="active">{{ data.Local.Event.Name }}</li>
    </ul>
    <!-- END BREADCRUMB -->
    <div class="row">

      <!-- CONTENT -->
      <section id="content" class="span9">
        <article class="post">
          <h2 class="page-title" itemprop="name"><a href="{% Url events, view, id: data.Local.Event.Id, title: data.Local.Event.Name | Clean %}">{{ data.Local.Event.Name }}</a></h2>
          <ul class="post-info">
            <li>
              <span aria-hidden="true" class="icon i-16 icon-calendar"></span> <a href="#">{{ data.Local.Event.StartDate | Date: 'D' }} @ {{ data.Local.Event.StartDate | Date: 'hh:mm tt' }}</a>
            </li>
            <li>
              <span aria-hidden="true" class="icon i-16 icon-bubble"></span> <a href="#comments">{% T {0} Comment(s) || data.Local.Event.Comments.size %}</a>
            </li>
            {% if ev.Resource != null %}
            <li>
              <span aria-hidden="true" class="icon i-16 icon-location"></span> {{ ev.Resource.Name }}
            </li>
            {% endif %}
          </ul>
          <div class="body-content" style="{% if data.Local.Event.HasSmallImage %}min-height: 215px{% endif %}">
            {% if data.Local.Event.HasLargeImage %}
            <p>
              <img itemprop="image" src="{% Url Events, GetLargeImage, id: data.Local.Event.Id, w: 870 %}" alt="{{ data.Local.Event.Name | StripHtml }}" />
            </p>
            {% endif %}
            <p itemprop="description">
                {{ data.Local.Event.LongDescription }}
            </p>

            <p>
              {% if data.Local.Event.WebAddress != null %}
              <a href="{{data.Local.Event.WebAddress}}" class="btn btn-grey">
                <i class="icon-earth"></i>
                {% T Website %}</a>
              {% endif %}
              {% if data.Local.Event.FacebookPage != null %}
              <a href="{{data.Local.Event.FacebookPage}}" class="btn btn-grey">
                <i class="icon-facebook"></i>
                {% T Facebook Page %}</a>
              {% endif %}
              {% if data.Local.Event.TicketsPage != null %}
              <a href="{{data.Local.Event.TicketsPage}}" class="btn btn-grey">
                <i class="icon-ticket"></i>
                {% T Get Tickets %}</a>
              {% endif %}
              <a href="{% Url Events, ICal, Id: data.Local.Event.Id, title: ev.Name | Clean %}" title="{% T Add to Calendar %}" class="btn btn-grey addthisevent">
                {% T Add to Calendar %}
                <span class="_start">{{ data.Local.Event.StartDate | Date: 'MM-dd-yyyy' }} {{ data.Local.Event.StartDate | Date: 'HH:mm:ss' }}</span>
                <span class="_end">{{ data.Local.Event.EndDate | Date: 'MM-dd-yyyy' }} {{ data.Local.Event.EndDate | Date: 'HH:mm:ss' }}</span>

                <span class="_summary">{{ data.Local.Event.Name }}</span>
                <span class="_description">{{ data.Local.Event.ShortDescription }}</span>
                <span class="_location">{{ data.Local.Event.Business.Address }}</span>
                <span class="_organizer">{{ data.Local.Event.Business.Name }}</span>
                <span class="_organizer_email"></span>
                <span class="_facebook_event"></span>
                <span class="_all_day_event">false</span>
                <span class="_date_format">MM-dd-YYYY</span>
              </a>
            </p>
          </div>
        </article>

        {% if data.Local.Attendees.size > 0 %}
        <h4 id="comments">{% T Who is coming? %}</h4>
        {% DivRow member in data.Local.Attendees cols:9 %}
        <!-- member -->
        <div class=" span1 text-center {% if member.CheckedIn %}checkedin{% endif %}">
          <a title="{{ member.FullName }}" href="{% Url Directory, Profile, Id: member.Id, name: member.FullName | Clean %}" class="user_avatar">
            <img class="img-circle" style="height: 50px; width: 50px;" height="50" width="50" src="{% Url Coworker, GetAvatar, id: member.Id, h:50, w:50 %}" alt="{{ member.FullName | Capitalize }}" >
          </a>
        </div>
        <!-- END member -->
        {% endDivRow %}
        <hr/>
        {% endif %}


        {% if data.Local.RelatedEvents.size > 0 %}
        <!-- RELATED EVENTS -->

        <h4>{% T You may also like... %}</h4>
        {% DivRow event in data.Local.RelatedEvents cols:3 %}
        <div class="span3 post">
          <ul class="post-info">
            <li>
              <span aria-hidden="true" class="icon i-16 icon-calendar"></span> <a href="{% Url Events, View, Id: event.Id, title: event.Name | Clean %}">{{ event.StartDate | Date: 'd MMMM @ hh:mm tt' }}</a>
            </li>
          </ul>
          <a href="{% Url Events, View, Id: event.Id, title: event.Name | Clean %}">
            {% if event.HasLargeImage %}
            <img class="img-polaroid" src="{% Url Events, GetLargeImage, id: event.Id, h: 175, w: 350 %}" alt="{{ event.Name | StripHtml }}" />
            {% elseif event.HasSmallImage %}
            <img class="img-polaroid" src="{% Url Events, GetSmallImage, id: event.Id, h: 175, w: 350 %}" alt="{{ event.Name | StripHtml }}" />
            {% endif %}
          </a>
          <p style="margin-top:5px">
            {{ event.Name }}
          </p>
        </div>
        {% endDivRow %}
        <!-- END RELATED EVENTS -->
        {% endif %}

        <!-- NEW COMMENT -->
        {% if data.Local.Event.AllowComments or data.Local.Event.Comments.size > 0  %}
        <h4 id="comments">{% T Comments %}</h4>
        {% endif %}
        {% for comment in data.Local.Event.Comments %}
        <!-- COMMENT -->
        <div class="media comment">
          <a class="media-object pull-left" href="{% Url Directory, Profile, id: comment.PostedBy.Coworker.Id, name: comment.PostedBy.Coworker.FullName | Clean %}">
            {% if comment.PostedBy.Coworker.HasAvatar %}
            <img class="img-circle" height="64" width="64" src="{% Url Coworker, GetAvatar, id: comment.PostedBy.Coworker.Id, h:64, w:64 %}" alt="{{ comment.PostedBy.Coworker.FullName | Capitalize }}" >
            {% else %}
            <img class="img-circle" height="64" width="64" src="/content/themes/public/clean/images/comment-avatar.jpg" alt="{{ comment.PostedBy.Coworker.FullName | Capitalize }}" >
            {% endif %}
          </a>
          <div class="media-body">
            <h4 class="media-heading">{{ comment.PostedBy.Coworker.FullName | Capitalize }} </h4>
            <blockquote>
              <p>{{ comment.Text | StripHtml }}</p>
              <small>{{ comment.CreatedOn | Date: 'd MMMM @htt' }}</small>
            </blockquote>
          </div>
        </div>
        <!-- END COMMENT -->
        {% endfor %}
        {% if data.Local.Event.AllowComments %}
        {% if data.Coworker != null %}
        <div class="media comment comment-form">

          <a class="media-object pull-left" href="{% Url Directory, Profile, id: data.Coworker.Id %}">
            {% if data.Coworker.HasAvatar %}
            <img class="img-circle" height="64" width="64" src="{% Url Coworker, GetAvatar, id: data.Coworker.Id, h:64, w:64 %}" alt="{{ data.Coworker.FullName | Capitalize }}" >
            {% else %}
            <img class="img-circle" height="64" width="64" src="/content/themes/public/clean/images/comment-avatar.jpg" alt="{{ data.Coworker.FullName | Capitalize }}" >
            {% endif %}
          </a>
          <div class="media-body">
            <form class="row-fluid" method="post" action="{% Url Events, NewComment %}">
                {% AntiforgeryToken %}
                <input type="hidden" id="id" name="id" required="required" value="{{ data.Local.Event.Id }}">
          	  <input type="hidden" id="title" name="title" required="required" value="{{ data.Local.Event.Name }}">
              <label for="message_messagetext">{% T Comment %}</label>
              <textarea type="text" class="span12" maxlength="2000" name="comment" id="comment" required="required">{{data.Local.Comment.Text}}</textarea>
              <button type="submit" class="btn btn-orange pull-right">{% T Post message %}</button>
            </form>
          </div>
        </div>
        {% else %}
        <div class="media comment comment-form">
          <a href="{% Url Login, Index %}?returnUrl={% Url events, view, id: data.Local.Event.Id, title: data.Local.Event.Name | Clean %}" class="btn btn-orange">{% T Login to leave a message %}</a>
        </div>
        {% endif %}
        {% endif %}
        <!-- END NEW COMMENT -->
      </section>
      <!-- END CONTENT -->

      <!-- SIDEBAR -->
      <aside id="sidebar-right" class="span3">
        {% if data.Local.Categories.size > 0 %}
        <!-- WIDGET SKILLS -->
        <div class="widget widget-skills">
          <div class="widget-title">
            <h3>{% T Categories %}</h3>
          </div>
          <div class="widget-body">
            {% for cat in data.Local.Categories %}
            <a href="{% Url Events, Index, title: cat.Title | Clean, categoryId: cat.Id, page: 1 %}" class="btn btn-{% if data.Local.Category.Id == cat.Id %}orange{%else%}grey{%endif%}"><span aria-hidden="true" class="icon i-16 icon-tag"></span> {{ cat.Title | Capitalize }}</a>
            {% endfor %}
          </div>
        </div>
        <!-- END WIDGET SKILLS -->
        {% endif %}
        {% if data.Setting_Social_Flickr != "" %}
        <!-- WIDGET FLICKR -->
        <div class="widget widget-flickr">
          <div class="widget-title">
            <h3>{% T Flickr Feed %}</h3>
          </div>
          <div class="widget-body">
            <ul>
            </ul>
          </div>
        </div>
        <!-- END WIDGET FLICKR -->
        {% endif %}
      </aside>
      <!-- END SIDEBAR -->

    </div>
  </div>
  <!-- END CONTAINER -->
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="https://addthisevent.com/libs/1.5.8/ate.min.js"></script>
<script type="text/javascript">
addthisevent.settings({
    license   : "a405mv4wfzncermbtmjd",
    mouse     : false,
    css       : false,
    outlook   : {show:true, text:"Outlook Calendar"},
    google    : {show:true, text:"Google Calendar"},
    yahoo     : {show:true, text:"Yahoo Calendar"},
    hotmail   : {show:true, text:"Hotmail Calendar"},
    ical      : {show:true, text:"iCal Calendar"},
    facebook  : {show:true, text:"Facebook Event"},
    callback  : ""
});
</script>
{% endblock %}
