{% extends master.master %}
{% block title %}{% if data.Local.Category != null %}{{  data.Local.Category.Title | Capitalize }} | {% endif %}{% T Events %} | {{ data.Business.Name }} {% endblock %}
{% block content %}
<div id="wrapper">
  <!-- CONTAINER -->
  <div id="main" class="container">
    <!-- BREADCRUMB -->
    <ul class="breadcrumb">
      <li><a href="{% Url PublicHome, Index %}">{% T Home %}</a> <span class="divider">/</span></li>
      {% if data.Local.Category != null %}
      <li><a href="{% Url Events, Index, categoryId: null, title: null %}">{% T Events %}</a> <span class="divider">/</span></li>
      <li class="active">{% T data.Local.Category.Title %}</li>
      {% else %}
      <li class="active">{% T Events %}</li>
      {% endif %}
    </ul>
    <!-- END BREADCRUMB -->
    <div class="row">

      <!-- CONTENT -->
      <section id="content" class="span9">
        {% if data.Local.CalendarEvents.size == 0 %}
          <h3 class="well">{% T There are no more events. %}</h3>
          {% if data.Local.Page > 1 %}
          <a class="btn btn-orange" href="{% Url Events, Index, page: data.Local.Page | Minus: 1 %}">{% T Go back %}</a>
          {% endif %}
        {% endif %}
        {% for ev in data.Local.CalendarEvents %}
        <article class="post">
          <h2 class="page-title"><a href="{% Url Events, View, Id: ev.Id, title: ev.Name | Clean %}">{{ ev.Name | StripHtml }}</a></h2>
          <!-- POST INFO -->
          <ul class="post-info">
            <li>
              <span aria-hidden="true" class="icon i-16 icon-calendar"></span> <a href="{% Url Events, ICal, Id: ev.Id %}">{{ ev.StartDate | Date: 'd MMMM' }}</a>
            </li>
            <li>
              <span aria-hidden="true" class="icon i-16 icon-bubble"></span> <a href="{% Url Events, View, Id: ev.Id, title: ev.Name | Clean %}#comments">{% T {0} Comment(s) || ev.Comments.size %}</a>
            </li>
            {% if data.Local.Event.Resource != null %}
              <li>
                <span aria-hidden="true" class="icon i-16 icon-location"></span> {{ data.Local.Event.Resource.Name }}
              </li>
           {% endif %}
          </ul>
          <!-- END POST INFO -->
          <!-- POST CONTENT -->
          <div class="event-content">
            <div class="row">
              {% if ev.HasSmallImage %}
              <div class="span2">
                <a href="{% Url Events, View, Id: ev.Id, title: ev.Name | Clean %}" class="thumbnail pull-left">
                  <img style="width:100%" src="{% Url Events, GetSmallImage, id: ev.Id, h: 200, w: 200 %}" alt="{{ ev.Title | StripHtml }}" class="entry-image" />
                </a>
                <div class="clearfix"></div>
              </div>
              {% endif %}
              <div class="{% if ev.HasSmallImage %}span7{%else%}span9{%endif%}">
                {{ ev.ShortDescription | StripHtml | MarkDown }}
                <p>
                  <a class="btn btn-orange" href="{% Url Events, View, Id: ev.Id, title: ev.Name | Clean %}">{% T Read more %}</a>
                  {% if ev.WebAddress != null %}
                  <a href="{{ev.WebAddress}}" class="btn btn-grey">
                    <i class="icon-earth"></i>
                    {% T Website %}</a>
                  {% endif %}
                  {% if ev.FacebookPage != null %}
                  <a href="{{ev.FacebookPage}}" class="btn btn-grey">
                    <i class="icon-facebook"></i>
                    {% T Facebook Page %}</a>
                  {% endif %}
                  {% if ev.TicketsPage != null %}
                  <a href="{{ev.TicketsPage}}" class="btn btn-grey">
                    <i class="icon-ticket"></i>
                    {% T Get Tickets %}</a>
                  {% endif %}
                  <a href="{% Url Events, ICal, Id: ev.Id, title: ev.Name | Clean %}" title="{% T Add to Calendar %}" class="btn btn-grey addthisevent">
                    {% T Add to Calendar %}
                    <span class="_start">{{ ev.StartDate | Date: 'MM-dd-yyyy' }} {{ ev.StartDate | Date: 'HH:mm:ss' }}</span>
                    <span class="_end">{{ ev.EndDate | Date: 'MM-dd-yyyy' }} {{ ev.EndDate | Date: 'HH:mm:ss' }}</span>

                    <span class="_summary">{{ ev.Name }}</span>
                    <span class="_description">{{ ev.ShortDescription }}</span>
                    <span class="_location">{{ ev.Business.Address }}</span>
                    <span class="_organizer">{{ ev.Business.Name }}</span>
                    <span class="_organizer_email"></span>
                    <span class="_facebook_event"></span>
                    <span class="_all_day_event">false</span>
                    <span class="_date_format">MM-dd-YYYY</span>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <!-- END POST CONTENT -->
        </article>

        {% endfor %}

        <!-- PAGINATION -->
        <div class="pagination pagination-centered">
          <ul>
            {% if(data.Local.Page == 1 %}
            <li class="disabled"><a href="#">&#8249;</a></li>
            {% else %}
            <li><a href="{% Url Events, Index, pastEvents: data.Local.PastEvents, page: data.Local.Page | Minus: 1 %}">&#8249;</a></li>
            <li><a href="{% Url Events, Index, pastEvents: data.Local.PastEvents, page: data.Local.Page | Minus: 1 %}">{{ data.Local.Page | Minus: 1 }}</a></li>
            {% endif %}
            <li class="active"><a href="#">{{ data.Local.Page }}</a></li>
            {% if data.Local.CalendarEvents.size == 0 %}
            <li class="disabled"><a href="#">&#8250;</a></li>
            {% else %}
            <li><a href="{% Url Events, Index, pastEvents: data.Local.PastEvents, page: data.Local.Page | Plus: 1 %}">{{ data.Local.Page | Plus: 1 }}</a></li>
            <li><a href="{% Url Events, Index, pastEvents: data.Local.PastEvents, page: data.Local.Page | Plus: 1 %}" class="next">&#8250;</a></li>
            {% endif %}
          </ul>
        </div>
        <!-- END PAGINATION -->

      </section>
      <!-- END CONTENT -->

      <!-- SIDEBAR -->
      <aside id="sidebar-right" class="span3">
        <!-- WIDGET SKILLS -->
        <div class="widget widget-skills">
            <div class="widget-title">
                <h3>{% T Categories %}</h3>
            </div>
            <div class="widget-body">
                <a href="{% Url Events, Index, pastEvents: true %}" class="btn btn-{% if data.Local.PastEvents %}orange{%else%}grey{%endif%}"><span aria-hidden="true" class="icon i-16 icon-tag"></span> {% T Past Events %}</a>
                {% for cat in data.Local.Categories %}
                <a href="{% Url Events, Index, title: cat.Title | Clean, categoryId: cat.Id, page: 1 %}" class="btn btn-{% if data.Local.Category.Id == cat.Id %}orange{%else%}grey{%endif%}"><span aria-hidden="true" class="icon i-16 icon-tag"></span> {{ cat.Title }}</a>
                {% endfor %}
            </div>
        </div>
        <!-- END WIDGET SKILLS -->
        {% if data.Setting_Social_Flickr != "" %}
        <!-- WIDGET FLICKR -->
        <div class="widget widget-flickr">
          <div class="widget-title">
            <h3>{% T Flickr Feed %}</h3>
          </div>
          <div class="widget-body">
            <ul>
            </ul>
          </div>
        </div>
        <!-- END WIDGET FLICKR -->
        {% endif %}
      </aside>
      <!-- END SIDEBAR -->
    </div>
  </div>
  <!-- END CONTAINER -->
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="https://addthisevent.com/libs/1.5.8/ate.min.js"></script>
<script type="text/javascript">
addthisevent.settings({
    license   : "a405mv4wfzncermbtmjd",
    mouse     : false,
    css       : false,
    outlook   : {show:true, text:"Outlook Calendar"},
    google    : {show:true, text:"Google Calendar"},
    yahoo     : {show:true, text:"Yahoo Calendar"},
    hotmail   : {show:true, text:"Hotmail Calendar"},
    ical      : {show:true, text:"iCal Calendar"},
    facebook  : {show:true, text:"Facebook Event"},
    callback  : ""
});
</script>
{% endblock %}
