{% extends master.master %}
{% block title %}{% T My account %} | {{ data.Business.Name }}{% endblock %}
{% block content %}
<div id="wrapper">
  <!-- CONTAINER -->
  <div id="main" class="container">

    {% assign RegularPaymentOption = false %}
    {% if data.Local.SpreedlyEnabled or data.Coworker.EnableGoCardlessPayments %}
    {% assign RegularPaymentOption = true %}
    {% endif %}
    {% assign HasEnteredPaymentDetails = false %}
    {% if data.Coworker.HasSetupRegularPayments or data.Coworker.HasGoCardlessContractNumber %}
    {% assign HasEnteredPaymentDetails = true %}
    {% endif %}

    {% assign hasBillingDetails = false %}
    {% if data.Coworker.BillingName != null or data.Coworker.BillingAddress != null or data.Coworker.BillingPostCode != null or data.Coworker.BillingCityName != null or data.Coworker.BillingState != null or data.Coworker.TaxIDNumber != null %}
    {% assign hasBillingDetails = true %}
    {% endif %}

    {% if data.Coworker.Active == false and data.Coworker.Tariff != null and RegularPaymentOption and HasEnteredPaymentDetails == false %}
    <div class="progress progress-striped">

      <div class="bar bar-success" style="width: 20%;">1. {% T Personal Details %}</div>
      <div class="bar bar-success" style="width: 20%;">2. {% T Choose a price plan %}</div>
      <div class="bar bar-success" style="width: 20%;">3. {% T Additional Products %}</div>
      <div class="bar" style="width: 20%;">4. {% T Submit Payment Details %}</div>
    </div>
    {% elseif data.Coworker.Active == false and data.Coworker.Tariff != null and (HasEnteredPaymentDetails or data.Coworker.PaysInvoicesViaTeam) %}
    <div class="progress progress-striped">

      <div class="bar bar-success" style="width: 20%;">1. {% T Personal Details %}</div>
      <div class="bar bar-success" style="width: 20%;">2. {% T Choose a price plan %}</div>
      <div class="bar bar-success" style="width: 20%;">3. {% T Additional Products %}</div>
      <div class="bar bar-success" style="width: 20%;">4. {% T Submit Payment Details %}</div>
      <div class="bar bar-warning" style="width: 15%;">5. {% T Validating your account %}</div>
    </div>
    {% elseif data.Coworker.Active == false and data.Coworker.Tariff != null and data.Local.KeepNewAccountsOnHold %}
    <div class="progress progress-striped">

      <div class="bar bar-success" style="width: 20%;">1. {% T Personal Details %}</div>
      <div class="bar bar-success" style="width: 20%;">2. {% T Choose a price plan %}</div>
      <div class="bar bar-success" style="width: 20%;">3. {% T Additional Products %}</div>
      <div class="bar bar-warning" style="width: 35%;">4. {% T Validating your account %}</div>
    </div>
    {% elseif data.Coworker.Active == false and data.Coworker.Tariff != null and data.Local.KeepNewAccountsOnHold == false %}
    <div class="progress progress-striped">

      <div class="bar bar-success" style="width: 20%;">1. {% T Personal Details %}</div>
      <div class="bar bar-success" style="width: 20%;">2. {% T Choose a price plan %}</div>
      <div class="bar bar-success" style="width: 20%;">3. {% T Additional Products %}</div>
      <div class="bar" style="width: 20%;">4. {% T Submit Payment Details %}</div>
    </div>
    {% else %}
    <!-- BREADCRUMB -->
    <ul class="breadcrumb">
      <li><a href="{% Url PublicHome, Index %}">{% T Home %}</a> <span class="divider">/</span></li>
      <li class="active">{% T My account %}</li>
    </ul>
    <!-- END BREADCRUMB -->
    {% endif %}



    <div class="row">

      {% if RegularPaymentOption and data.Coworker.Active == false and data.Coworker.Tariff != null and HasEnteredPaymentDetails == false and data.Coworker.PaysInvoicesViaTeam == false %}
      <section id="content" class="span12">
        <div class="text-center">
          <div class="alert alert-info text-center">
            {% if data.Local.KeepNewAccountsOnHold %}
            <h4>{% T We need your payment details to complete your application. No payment will be taken before your account is validated. %}</h4>
            {% else %}
            <h4>{% T We need your payment details to complete your application. %}</h4>
            {% endif %}
          </div>
          {% if data.Local.SpreedlyEnabled %}
          <a class="btn btn-orange spreedlyButton btn-large" data-paybuttontext="{% T Submit Payment Details %}" data-payurl="https://{{ data.Domain }}/{{ data.Language }}/payments/SpreedlyPaymentToken/0" href="#"><span aria-hidden="true" class="icon i-24 icon-credit"></span> {% T Submit Payment Details %}</a>
          {% endif %}
          {% if data.Coworker.EnableGoCardlessPayments and data.Coworker.HasGoCardlessContractNumber == false %}
          <a class="btn btn-orange btn-large" href="https://spaces.nexudus.com/Callbacks/GoCardlessPre/{{ data.Coworker.Id }}"><span aria-hidden="true" class="icon i-24 icon-library"></span> {% T Setup Direct Debit  %}</a>
          {% endif %}
        </div>
        <hr />
      </section>
      {% elseif data.Coworker.Active == false and data.Coworker.Tariff != null  %}
      <section id="content" class="span12">
        <div class="text-center">
          <div class="alert alert-info text-center">
            <h4>{% T We are validating your account, we will be in touch shortly. %}</h4>
          </div>
        </div>
        <hr />
      </section>
      {% else %}

      <h2 class="page-title span12">{% T My account at {0} || data.Business.Name %}</h2>


      <!-- CONTENT -->
      <section id="content" class="span12">
        <ul class="nav nav-pills">
          <li><a href="#personal-details"><i class="icon-user"></i>&nbsp;{% T Personal Details %}</a></li>
          {% if data.Coworker.PaysForTeam != null %}
          <li><a href="#team-details"><i class="icon-users"></i>&nbsp;{% T My Team %}</a></li>
          {% endif %}
          {% for group in data.Local.CustomFieldGroups %}
          <li><a href="#group-{{ group | Clean }}"><i class="icon-list"></i>&nbsp;{% T group %}</a></li>
          {% endfor %}
          <li><a href="#account-details"><i class="icon-briefcase"></i>&nbsp;{% T Account details %}</a></li>
          <li><a href="#location"><i class="icon-home"></i>&nbsp;{% T Your location %}</a></li>
          <li><a href="#public-profile"><i class="icon-tags"></i>&nbsp;{% T Public profile %}</a></li>
          <li><a href="#notifications"><i class="icon-bullhorn"></i>&nbsp;{% T Notifications %}</a></li>
        </ul>
        <hr />
        {% if data.Coworker.Tariff.Id != data.Coworker.NextTariff.Id %}
        <div class="alert alert-warning text-center">
          <h4>{% T Your price plan is about to change. %}</h4>
          {% assign renewDateFormated =  data.Coworker.NextInvoice | Date: 'D' %}
          {% if data.Coworker.NextTariff != null %}
          {% T Your price plan will change to "{1}" on {0} || renewDateFormated || data.Coworker.NextTariff.Name %}
          {% else %}
          {% T Your price plan will be cancelled on {0} || renewDateFormated %}
          {% endif %}
        </div>
        {% elseif data.Coworker.CancellationDate != null %}
        <div class="alert alert-warning text-center">
          <h4>{% T Your price plan is about to change. %}</h4>
          {% T Your price plan will be cancelled on {0:D} || data.Coworker.CancellationDate %}
        </div>
        {% elseif data.Coworker.Tariff != null and data.Coworker.Active %}
        <div class="alert alert-info text-center">
          <h4>{% T You are in the "{0}" price plan. || data.Coworker.Tariff.Name %}</h4>
          {% assign renewDateFormated =  data.Coworker.NextInvoice | Date: 'D' %}
          {% T Your price plan is due for renewal on {0}. || renewDateFormated %}
        </div>
        {% endif %}
        <form action="{% Url Profile, Index %}" method="POST" enctype="multipart/form-data" id="profile-form">
          <h3 id="personal-details">{% T Personal Details %}</h3>
          <div class="well">
            <div class="row-fluid">

              <div class="span9">
                <div class="row-fluid">
                  <div class="span4">
                    <label for="Coworker_FullName">{% T Fullname %} <span class="text-error">*</span></label>
                    <input type="text" id="Coworker_FullName" name="Coworker.FullName" value="{{ data.Coworker.FullName }}" required="required" class="span12">
                  </div>
                  <div class="span4">
                    <label for="Coworker_Salutation">{% T What should we call you? %} <span class="text-error">*</span></label>
                    <input type="text" id="Coworker_Salutation" name="Coworker.Salutation" value="{{ data.Coworker.Salutation }}" required="required" class="span12">
                  </div>
                  <div class="span4">
                    <label for="Coworker_Email">{% T Email %} <span class="text-error">*</span></label>
                    <input type="text" readonly="readonly" id="Coworker_Email" name="Coworker.Email" value="{{ data.Coworker.Email }}" class="span12">
                  </div>

                </div>
                <div class="row-fluid">
                  <div class="span4">
                    <label>{% T Price Plan %}</label>
                    <input value="{{ data.Coworker.Tariff.Name }}" type="text" disabled="disabled" class="uneditable-input">
                  </div>
                  <div class="span4">
                    <label>&nbsp;</label>
                    <a class="btn btn-grey" href="{% Url Profile, Tariff %}">{% T Change your price plan %}</a>
                  </div>
                  <div class="span4">
                    <label>&nbsp;</label>
                    <a target="_blank" href="/Login/ResetPassword?lang={{ data.Language }}&email={{ data.Coworker.User.Email }}" class="btn btn-grey">{% T Change password %}</a>
                  </div>
                </div>
              </div>
              <div class="span3">
                <label for="Coworker_Avatar">{% T Photo %}</label>
                {% if data.Coworker.HasAvatar %}
                <img class="img-polaroid" src="{% Url Coworker, GetAvatar, id: data.Coworker.Id, h:140, w:140 %}" />
                <br />
                {% endif %}
                <input type="file" name="Coworker_Avatar" id="Coworker_Avatar" class="span12" />
                <br />
                <small>{% T Max 10Mb. %}</small>
              </div>
            </div>

          </div>
          <div class="row-fluid">

            <button type="submit" class="btn pull-right btn-orange">{% T Update %}</button>
            <a href="#wrapper" class="btn pull-right btn-link">{% T Back %}</a>
          </div>

          {% if data.Coworker.PaysForTeam != null %}

          <h3 id="team-details" >{% T My Team %}</h3>

          <div class="well" id="team-details-form">

            <div class="row-fluid">
              <div class="span12">
                <label for="Team_Name">{% T Team Name %}</label>
                <input readonly="readonly" type="text" id="Team_Name" name="Team.Name" value="{{ data.Coworker.PaysForTeam.Name }}" class="span12">
              </div>
            </div>

            <div class="row-fluid">
              <div class="span12">
                <label for="Team_SignupLink">{% T Invite Link %}</label>
                <input readonly="readonly" type="text" id="Team_SignupLink" value="https://{{ data.Business.WebAddress }}.{{ data.PublicSiteSubDomain }}/{{ data.Language }}/signup/{{ data.Coworker.PaysForTeam.UniqueId }}" class="span12">
                <small>
                  {% T You can send this link to anyone who you want to add to your team %}
                </small>
              </div>
            </div>
            <h4>{% T Team Members %}</h4>
            {% DivRow member in data.Coworker.PaysForTeam.AllTeamMembers cols:3, colClass: 'span4', rowClass: 'row-fluid' %}
            <img class="img-circle" src="{% Url Coworker, GetAvatar, id: member.Id, h:20, w:20 %}" style="width: 20px; height: 20px"/>
            <a href="{% Url Directory, Profile, Id: member.Id, name: member.FullName | Clean %}">
            {{ member.FullName }}
            </a>
            {% if member.Id != data.Coworker.Id %}
            <a class="btn btn-mini btn-link" href="/en/user/login?t={{ member.User.AccessToken }}&returnurl={% Url Profile, Index %}">{% T Access Account %}</a>
            {% endif %}
            {% endDivRow %}

          </div>

          {% endif %}

          {% if data.Local.HasCustomFields %}
          {% for group in data.Local.CustomFieldGroups %}

          <h3 id="group-{{ group | Clean }}">{% T group %}</h3>
          <div class="well">
            {% for field in data.Local.CustomFields %}
            {% if field.GroupName == group or field.GroupName == null and group == "Other Details" %}
            {% capture customFieldName %}Custom{{ field.CustomFieldIndex}}{%endcapture%}
            <div class="row-fluid">
              {% if field.FieldType == 'Text' %}
              <div class="span12">
                <label for="Coworker_{{ customFieldName }}">{% T field.Name %} {% if field.Required %}<span class="text-error">*</span>{% endif %}</label>
                <input {% if field.Required %}required="required"{% endif %}  type="text" id="Coworker_{{ customFieldName }}" name="Coworker.{{ customFieldName }}" value="{{data.Coworker[customFieldName]}}" class="span12">
              </div>
              {% elseif field.FieldType == 'LongText' %}
              <div class="span12">
                <label for="Coworker_{{ customFieldName }}">{% T field.Name %} {% if field.Required %}<span class="text-error">*</span>{% endif %}</label>
                <textarea {% if field.Required %}required="required"{% endif %}  id="Coworker_{{ customFieldName }}" name="Coworker.{{ customFieldName }}" class="span12">{{data.Coworker[customFieldName]}}</textarea>
              </div>
              {% elseif field.FieldType == 'Boolean' %}
              <div class="span12">
                <label for="Coworker_{{ customFieldName }}" class="checkbox">
                  <input {% if field.Required %}required="required"{% endif %} id="Coworker_{{ customFieldName }}" name="Coworker.{{ customFieldName }}" type="checkbox" {% if data.Coworker[customFieldName] == 'true' %}checked="checked" {% endif %} value="true">
                  <input id="Coworker_{{ customFieldName }}_Hidden" name="Coworker.{{ customFieldName }}" type="hidden" value="false">
                  {% T field.Name %}
                  {% if field.Required %}<span class="text-error">*</span>{% endif %}
                </label>
              </div>
              {% elseif field.FieldType == 'Dropdown' %}
              <div class="span12">
                <label for="Coworker_{{ customFieldName }}">{% T field.Name %} {% if field.Required %}<span class="text-error">*</span>{% endif %}</label>

                {% if field.AllowMultipleOptions %}
                <input type="text" id="Coworker_{{ customFieldName }}" name="Coworker.{{ customFieldName }}" value="{{data.Coworker[customFieldName]}}"  class="span12 multiple_select" style="display: none">
                <select {% if field.Required %}required="required"{% endif %}  multiple="multiple" id="Coworker_{{ customFieldName }}_Select" class="span12">
                  {% for opt in field.AvailableOptionArray %}
                  <option {% if {{data.Coworker[customFieldName]}} != null and opt contains {{data.Coworker[customFieldName]}} %}selected="selected"{% endif %}>{{opt}}</option>
                  {% endfor %}
                </select>
                {% else %}
                <select {% if field.Required %}required="required"{% endif %}  id="Coworker_{{ customFieldName }}" name="Coworker.{{ customFieldName }}" class="span12">
                  <option></option>
                  {% for opt in field.AvailableOptionArray %}
                  {% if opt == {{data.Coworker[customFieldName]}} %}
                  <option selected="selected">{{opt}}</option>
                  {% else %}
                  <option>{{opt}}</option>
                  {% endif %}
                  {% endfor %}
                </select>
                {% endif %}
              </div>
              {% elseif field.FieldType == 'Date' %}
              <div class="span12">
                <label for="Coworker_{{ customFieldName }}">{% T field.Name %} {% if field.Required %}<span class="text-error">*</span>{% endif %}</label>
                <div class="input-append date">
                  <input {% if field.Required %}required="required"{% endif %}  type="text" id="Coworker_{{ customFieldName }}" name="Coworker.{{ customFieldName }}" />
                  <span class="add-on"><i class="icon-th icon-calendar"></i></span>
                </div>
              </div>
              {% else %}
              <div class="span12">
                <label for="Coworker_{{ customFieldName }}">{% T field.Name %} {% if field.Required %}<span class="text-error">*</span>{% endif %}</label>
                <input {% if field.Required %}required="required"{% endif %}  type="text" id="Coworker_{{ field.CustomFieldIndex }}" name="Coworker.Custom{{ field.CustomFieldIndex }}" value="{{data.Coworker[customFieldName]}}" class="span2">
              </div>
              {% endif %}
            </div>
            {% endif %}
            {% endfor %}
          </div>
          <div class="row-fluid">
            <button type="submit" class="btn pull-right btn-orange">{% T Update %}</button>
            <a href="#wrapper" class="btn pull-right btn-link">{% T Back %}</a>
          </div>
          {% endfor %}
          {% endif %}

          <h3 id="account-details">{% T Contact Details %}</h3>
          <div class="well">
            <div class="row-fluid">
              <div class="span12">
                <label for="Coworker_Address">{% T Address %}</label>
                <textarea rows="5" id="Coworker_Address" name="Coworker.Address" type="text" class="span12">{{ data.Coworker.Address }}</textarea>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span4">
                <label for="Coworker_PostCode">{% T Postcode / Zip code %}</label>
                <input value="{{ data.Coworker.PostCode }}" type="text" name="Coworker.PostCode" id="Coworker_PostCode" class="span12">
              </div>
              <div class="span4">
                <label for="Coworker_CityName">{% T Town %}</label>
                <input value="{{ data.Coworker.CityName }}" type="text" name="Coworker.CityName" id="Coworker_CityName" class="span12">
              </div>
              <div class="span4">
                <label for="Coworker_State">{% T State / Province %}</label>
                <input value="{{ data.Coworker.State }}" type="text" name="Coworker.State" id="Coworker_State" class="span12">
              </div>
            </div>
            <div class="row-fluid">
              <label for="Same_Billing_Details" class="checkbox">
                <input onclick="$(this).is(':checked') ? $('#billing-details, #billing-details-form, #billing-details-button').hide(): $('#billing-details, #billing-details-form, #billing-details-button').show()" id="Same_Billing_Details" type="checkbox" {% if hasBillingDetails == false %}checked="checked"{% endif %} />
                  {% T My billing details are the same as my contact details %}
                </label>
            </div>
          </div>

          <div class="row-fluid">
            <button type="submit" class="btn pull-right btn-orange">{% T Update %}</button>
            <a href="#wrapper" class="btn pull-right btn-link">{% T Back %}</a>
          </div>
          <h3 id="billing-details" {% if hasBillingDetails == false %}style="display: none"{% endif %}>{% T Billing Details %}</h3>
          <div class="well" id="billing-details-form" {% if hasBillingDetails == false %}style="display: none"{% endif %}>
            <div class="row-fluid">
              <div class="span12">
                <label for="Coworker_BillingName">{% T Company Name %}</label>
                <input value="{{ data.Coworker.BillingName }}" type="text" name="Coworker.BillingName" id="Coworker_BillingName" class="span12" />
              </div>
            </div>
            <div class="row-fluid">
              <div class="span12">
                <label for="Coworker_BillingAddress">{% T Address %}</label>

                <textarea rows="5" id="Coworker_BillingAddress" name="Coworker.BillingAddress" type="text" class="span12">{{ data.Coworker.BillingAddress }}</textarea>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span4">
                <label for="Coworker_BillingCityName">{% T Town %}</label>
                <input value="{{ data.Coworker.BillingCityName }}" type="text" name="Coworker.BillingCityName" id="Coworker_BillingCityName" class="span12">
              </div>
              <div class="span4">
                <label for="Coworker_BillingState">{% T State / Province %}</label>
                <input value="{{ data.Coworker.BillingState }}" type="text" name="Coworker.BillingState" id="Coworker_BillingState" class="span12">
              </div>
              <div class="span4">
                <label for="Coworker_BillingPostCode">{% T Postcode / Zip code %}</label>
                <input value="{{ data.Coworker.BillingPostCode }}" type="text" name="Coworker.BillingPostCode" id="Coworker_BillingPostCode" class="span12">
              </div>
            </div>
            <div class="row-fluid">
              <div class="span4">
                <label for="Coworker_TaxIDNumber">{% T TAX/VAT Number %}</label>
                <input value="{{ data.Coworker.TaxIDNumber }}" type="text" name="Coworker.TaxIDNumber" id="Coworker_TaxIDNumber" class="span12">
              </div>
            </div>
          </div>
          <div class="row-fluid" id="billing-details-button" {% if hasBillingDetails == false %}style="display: none"{% endif %}>
            <button type="submit" class="btn pull-right btn-orange">{% T Update %}</button>
            <a href="#wrapper" class="btn pull-right btn-link">{% T Back %}</a>
          </div>
          <h3 id="location">{% T Your location %}</h3>
          <div class="well">
            <div class="row-fluid">
              <div class="span6">
                <label>{% T Country %}</label>
                {% CountriesDropdown data.Coworker.Country.Id, Coworker.Country %}
              </div>
              <div class="span6">
                <label>{% T Timezone %}</label>
                {% TimeZonesDropdown data.Coworker.SimpleTimeZone.Id, Coworker.SimpleTimeZone %}
              </div>
            </div>
          </div>
          <div class="row-fluid">
            <button type="submit" class="btn pull-right btn-orange">{% T Update %}</button>
            <a href="#content" class="btn pull-right btn-link">{% T Back %}</a>
          </div>
          <h3 id="public-profile">{% T Public profile %}</h3>
          <div class="well">
            <div class="row-fluid">
              <div class="span3">
                <label for="Coworker_NickName">{% T Nickname %}</label>
                <input value="{{ data.Coworker.NickName }}" type="text" name="Coworker.NickName" id="Coworker_NickName" class="span12">
              </div>
              <div class="span3">
                <label for="Coworker_CompanyName">{% T Company %}</label>
                <input value="{{ data.Coworker.CompanyName }}" type="text" name="Coworker.CompanyName" id="Coworker_CompanyName" class="span12">
              </div>
              <div class="span3">
                <label for="Coworker_BusinessArea">{% T Business area %}</label>
                <input value="{{ data.Coworker.BusinessArea }}" type="text" name="Coworker.BusinessArea" id="Coworker_BusinessArea" class="span12">
              </div>
              <div class="span3">
                <label for="Coworker_ProfileWebsite">{% T Web %}</label>
                <input value="{{ data.Coworker.ProfileWebsite }}" type="text" name="Coworker.ProfileWebsite" id="Coworker_ProfileWebsite" class="span12">
              </div>
            </div>
            <div class="row-fluid">
              <div class="span12">
                <label for="Coworker_ProfileSummary">{% T Bio %}</label>
                <textarea rows="5" id="Coworker_ProfileSummary" name="Coworker.ProfileSummary" class="span12" type="text">{{ data.Coworker.ProfileSummary }}</textarea>
              </div>
            </div>

            <div class="row-fluid">
              <div class="span12">
                <label for="Coworker_ProfileTags">{% T Skills (separate by commas) %}</label>
                {% if data.Local.ProfileTags.size > 0 %}
                <input type="text" id="Coworker_ProfileTags" name="Coworker.ProfileTags" value="{{data.Coworker.ProfileTags}}"  class="span12 multiple_select" style="display: none">
                <select multiple="multiple"  class="span12">
                  {% for tag in data.Local.ProfileTags %}
                  {% assign thisTag = tag | Downcase %}
                  {{ thisTag }}
                  <option {% if data.Coworker.ProfileTags contains thisTag %}selected="selected"{% endif %}>{{thisTag}}</option>
                  {% endfor %}
                </select>
                {% else %}
                <input id="Coworker_ProfileTags" maxlength="254" name="Coworker.ProfileTags" type="text" value="{{ data.Coworker.ProfileTags }}" class="span12"/>
                {% endif %}

                <br />
                <small>{% T Max: 254 characters. Keep it relevant, less is more... %}</small>
              </div>
            </div>

            <div class="row-fluid">
              <div class="span3">
                <label for="Coworker_Twitter">Twitter</label>
                <input value="{{ data.Coworker.Twitter }}" type="text" name="Coworker.Twitter" id="Coworker_Twitter" class="span12" placeholder="@twitter">
              </div>
              <div class="span3">
                <label for="Coworker_Facebook">Facebook</label>
                <input value="{{ data.Coworker.Facebook }}" type="text" name="Coworker.Facebook" id="Coworker_Facebook" class="span12" placeholder="https://www.facebook.com/zuck">
              </div>
              <div class="span3">
                <label for="Coworker_Linkedin">Linkedin</label>
                <input value="{{ data.Coworker.Linkedin }}" type="text" name="Coworker.Linkedin" id="Coworker_Linkedin" class="span12" placeholder="http://www.linkedin.com/in/jeffweiner08">
              </div>
              <div class="span3">
                <label for="Coworker_Skype">Skype</label>
                <input value="{{ data.Coworker.Skype }}" type="text" name="Coworker.Skype" id="Coworker_Skype" class="span12" placeholder="skype">
              </div>
            </div>

            <div class="row-fluid">
              <div class="span3">
                <label for="Coworker_Twitter">Google</label>
                <input value="{{ data.Coworker.Google }}" type="text" name="Coworker.Google" id="Coworker_Google" class="span12" placeholder="https://profiles.google.com/google">
              </div>
              <div class="span3">
                <label for="Coworker_Github">Github</label>
                <input value="{{ data.Coworker.Github }}" type="text" name="Coworker.Github" id="Coworker_Github" class="span12" placeholder="https://github.com/github">
              </div>
              <div class="span3">
                <label for="Coworker_Pinterest">Pinterest</label>
                <input value="{{ data.Coworker.Pinterest }}" type="text" name="Coworker.Pinterest" id="Coworker_Pinterest" class="span12" placeholder="https://www.pinterest.com/pinterest">
              </div>
              <div class="span3">
                <label for="Coworker_Flickr">Flickr</label>
                <input value="{{ data.Coworker.Flickr }}" type="text" name="Coworker.Flickr" id="Coworker_Flickr" class="span12" placeholder="skype">
              </div>
            </div>

            <div class="row-fluid">
              <div class="span3">
                <label for="Coworker_Instagram">Instagram</label>
                <input value="{{ data.Coworker.Instagram }}" type="text" name="Coworker.Instagram" id="Coworker_Instagram" class="span12" placeholder="https://instagram.com/instagram/">
              </div>
              <div class="span3">
                <label for="Coworker_Vimeo">Vimeo</label>
                <input value="{{ data.Coworker.Vimeo }}" type="text" name="Coworker.Vimeo" id="Coworker_Vimeo" class="span12" placeholder="https://vimeo.com/vimeo">
              </div>
              <div class="span3">
                <label for="Coworker_Tumblr">Tumblr</label>
                <input value="{{ data.Coworker.Tumblr }}" type="text" name="Coworker.Tumblr" id="Coworker_Tumblr" class="span12" placeholder="https://www.tumblr.com/tumblr">
              </div>
              <div class="span3">
                <label for="Coworker_Blogger">Blogger</label>
                <input value="{{ data.Coworker.Blogger }}" type="text" name="Coworker.Blogger" id="Coworker_Blogger" class="span12" placeholder="https://www.blogger.com/blogger">
              </div>
            </div>

            <div class="row-fluid">
              <div class="span12">
                <label for="Coworker_ProfileIsPublic" class="checkbox">
                  {% if data.Coworker.ProfileIsPublic %}
                  <input id="Coworker_ProfileIsPublic" name="Coworker.ProfileIsPublic" type="checkbox" value="true" checked="checked"/>
                  {% else %}
                  <input id="Coworker_ProfileIsPublic" name="Coworker.ProfileIsPublic" type="checkbox" value="true"/>
                  {% endif %}
                  <input id="Coworker_ProfileIsPublic_Hidden" name="Coworker.ProfileIsPublic" type="hidden" value="false"/>
                  {% T Publish my profile %}
                </label>
              </div>
            </div>
            <a target="_blank" href="{% Url Directory, Profile, Id: data.Coworker.Id, name: data.Coworker.FullName | Clean %}'" class="btn btn-grey">{% T View my profile %}</a>
          </div>
          <div class="row-fluid">
            <button type="submit" class="btn pull-right btn-orange">{% T Update %}</button>
            <a href="#wrapper" class="btn pull-right btn-link">{% T Back %}</a>
          </div>
          <h3 id="notifications">{% T Notifications %}</h3>
          <div class="well">
            <div class="row-fluid">
              <p><b>{% T Select when would you like to receive notifications: %}</b></p>
              <label for="User_OnHelpDeskMsg" class="checkbox">
                <input id="User_OnHelpDeskMsg" name="User.OnHelpDeskMsg" type="checkbox" value="true" {% if !data.Coworker.User.OnHelpDeskMsg %} checked="checked" {% endif %} />
                <input id="User_OnHelpDeskMsg_Hidden" name="User.OnHelpDeskMsg" type="hidden" value="false" />
                {% T When a new message is posted in the help desk message board. %}
              </label>
              <label for="User_OnNewWallPost" class="checkbox">
                <input id="User_OnNewWallPost" name="User.OnNewWallPost" type="checkbox" value="true" {% if !data.Coworker.User.OnNewWallPost %} checked="checked" {% endif %}/>
                <input id="User_OnNewWallPost_Hidden" name="User.OnNewWallPost" type="hidden" value="false" />
                {% T When a new message is posted in the home page wall. %}
              </label>
              <label for="User_OnNewBlogComment" class="checkbox">
                <input id="User_OnNewBlogComment" name="User.OnNewBlogComment" type="checkbox" value="true" {% if !data.Coworker.User.OnNewBlogComment %} checked="checked" {% endif %} />
                <input id="User_OnNewBlogComment_Hidden" name="User.OnNewBlogComment" type="hidden" value="false" />
                {% T When a new message is posted in the blog. %}
              </label>
              <label for="User_OnNewEventComment" class="checkbox">
                <input id="User_OnNewEventComment" name="User.OnNewEventComment" type="checkbox" value="true" {% if !data.Coworker.User.OnNewEventComment %} checked="checked" {% endif %} />
                <input id="User_OnNewEventComment_Hidden" name="User.OnNewEventComment" type="hidden" value="false" />
                {% T When a new message is posted in an event. %}
              </label>
            </div>
          </div>
          {% if data.Setting_PublicWebSite_CommunityBoard %}
          <div class="well">
            <div class="row-fluid">
              <p><b>{% T How and when should we alert you about conversations in the community board? %}</b></p>
              <label for="User_ReceiveCommunityDigest" class="checkbox">
                <input id="User_ReceiveCommunityDigest" name="User.ReceiveCommunityDigest" type="checkbox" value="true" {% if data.Coworker.User.ReceiveCommunityDigest %} checked="checked" {% endif %} />
                <input id="User_ReceiveCommunityDigest_Hidden" name="User.ReceiveCommunityDigest" type="hidden" value="false" />
                {% T Send me an update in the morning if there are new messages (~8am). %}
              </label>
              <label for="User_ReceiveEveryMessage" class="checkbox">
                <input id="User_ReceiveEveryMessage" name="User.ReceiveEveryMessage" type="checkbox" value="true" {% if data.Coworker.User.ReceiveEveryMessage %} checked="checked" {% endif %} />
                <input id="User_ReceiveEveryMessage_Hidden" name="User.ReceiveEveryMessage" type="hidden" value="false" />
                {% T Send me an notification shortly after every message. You can still mute individual conversations. %}
              </label>

            </div>
          </div>
          {% endif %}
          <div class="row-fluid">
            <button type="submit" class="btn pull-right btn-orange">{% T Update %}</button>
            <a href="#wrapper" class="btn pull-right btn-link">{% T Back %}</a>
          </div>

        </form>

      </section>
      <!-- END CONTENT -->
      {% endif %}
    </div>
  </div>
  <!-- END CONTAINER -->
</div>

<style>
  #ccdialog, #spreedly {
    width: 300px;
    margin-left: -150px;
  }

  #ccdialog .modal-header,
  #spreedly .modal-header {
    background: #f1f4f6;
    padding: 25px;
  }

  #ccdialog .controls label,
  #spreedly .controls label {
    margin-bottom: 0;
  }

  #ccdialog h4,
  #spreedly h4 {
    margin-bottom: 5px;
  }

  .invoiceNumber {
    color: #929496;
  }

  table form {
    display: inline;
  }
</style>

<!-- SPREEDLY CREDIT CARD DETAILS -->
<div id="spreedly" class="modal hide fade row-fluid" tabindex="-1" role="dialog" aria-hidden="true">
  <form method="post" action="https://core.spreedly.com/v1/payment_methods" id="spreedly-ccform">
    <input name="redirect_url" id="spreedly-redirect-url" type="hidden" value="" />
    <input name="environment_key" type="hidden" value="{{ data.Local.SpreedlyEnvironmentKey }}" />
    <div class="modal-header">
      <a href="#" class="close" data-dismiss="modal">&times;</a>
      <h4>{{ data.Business.Name }}</h4>
      <span class="invoiceNumber"></span>
    </div>
    <div class="modal-body">


      <div class="controls controls-row">
        <label class="span7">{% T Card Number %}</label>
        <label class="span5">{% T Expires %}</label>
      </div>
      <div class="controls controls-row">
        <input class="span7" autocomplete="off" id="credit_card_number" name="credit_card[number]" type="text" placeholder="???? ???? ???? ????" />
        <input class="span2" id="credit_card_month" name="credit_card[month]" type="text" placeholder="MM" />
        <input class="span3" id="credit_card_year" name="credit_card[year]" type="text" placeholder="YYYY" />
      </div>
      <div class="controls controls-row">
        <label class="span9">{% T Name on Card %}</label>
        <label class="span3">{% T CVC %}</label>
      </div>
      <div class="controls controls-row">
        <input class="span4" id="credit_card_first_name" name="credit_card[first_name]" type="text" placeholder="{% T First name %}" />
        <input class="span5" id="credit_card_last_name" name="credit_card[last_name]" type="text" placeholder="{% T Last name %}" />
        <input class="span3" autocomplete="off" id="credit_card_verification_value" name="credit_card[verification_value]" type="text" />
      </div>

    </div>
    <div class="modal-footer">
      <a class="btn  btn-grey" data-dismiss="modal" aria-hidden="true">{% T Close %}</a>
      <a href="#" id="spreedly-ccpay-button" class="btn btn-orange">{% T Pay by Card %}</a>
    </div>
  </form>
</div>
<!-- END CREDIT CARD DETAILS -->
{% endblock %}
{% block script %}

<script>
  $(function () {
    $('.ccPayButton').click(function () {
      var el = $('#ccdialog');
      var invoiceNumber = $(this).attr('data-description');
      var url = $(this).attr('data-payUrl');
      $('#ccform').attr('action', url);
      $('.invoiceNumber').text(invoiceNumber);
      el.modal();
    });

    $('.spreedlyButton').click(function () {
      var el = $('#spreedly');
      var invoiceNumber = $(this).attr('data-description');
      var url = $(this).attr('data-payUrl');
      var txt = $(this).attr('data-payButtonText') || '{% T Pay by Card %}';
      $('#spreedly-redirect-url').val(url);
      $('#spreedly-ccpay-button').text(txt);
      $('.invoiceNumber').text(invoiceNumber);
      el.modal();
    });

    $('#spreedly-ccpay-button').click(function () {
      if ($('#spreedly-ccpay-button').attr('disabled')) return;
      $('#spreedly-ccpay-button').attr('disabled', 'disabled');
      $('#spreedly-ccpay-button').text('{% T Please wait... %}');
      $('#spreedly-ccform').submit();
    });

    $('#ccpay-button').click(function () {
      if ($('#ccpay-button').attr('disabled')) return;
      $('#ccpay-button').attr('disabled', 'disabled');
      $('#ccform').submit();
    });
  });
</script>

<script>
  $(function () {

    $(".date").datetimepicker({ language: '{{ data.Language }}', format: "dd MM yyyy", minuteStep: 15, showMeridian: true, autoclose: true, minView: 2, startView: 4 });
    $('#profile-form').h5Validate();

    $('#profile-form button[type="submit"]').on('click', function () {
        var result = $('#profile-form').h5Validate('allValid');
        if (result == true) {
            $('#profile-form button[type="submit"]').text('{% T Please wait... %}');
            return true;
        }
        else {
         	showErrorMessage('{% T Please complete all the required fields %}');
         	return false;
        }
    });

    $('.multiple_select').each(function(i, el){
      var sel = $(el).siblings('select');
      var tags = $(el).val();
      sel.val(tags.split(','));

      sel.chosen();
      $(sel).change(function(){
        var tags = sel.val().join();
        $(el).val(tags);
      });
    });

  });
</script>
{% endblock %}
