{% extends master.master %}
{% block content %}
<div id="wrapper">
  <!-- CONTAINER -->
  <div id="main" class="container">

    {% if data.Coworker.Tariff == null %}
    <div class="progress progress-striped">
      <div class="bar bar-success" style="width: 20%;">1. {% T Personal Details %}</div>
      <div class="bar" style="width: 20%;">2. {% T Choose a price plan %}</div>
    </div>
    {% elseif data.Coworker.Tariff != null and data.Coworker.Tariff != null %}
    <div class="progress progress-striped">
      <div class="bar bar-success" style="width: 20%;">1. {% T Personal Details %}</div>
      <div class="bar" style="width: 20%;">2. {% T Choose a price plan %}</div>
    </div>
    {% else %}
    <!-- BREADCRUMB -->
    <ul class="breadcrumb">
      <li><a href="{% Url PublicHome, Index %}">{% T Home %}</a> <span class="divider">/</span></li>
      <li><a href="{% Url Profile, Index %}">{% T My account %}</a> <span class="divider">/</span></li>
      <li class="active">{% T My price plan %}</li>
    </ul>
    <!-- END BREADCRUMB -->
    {% endif %}

    <div class="row">



      {% if data.Local.PricePlanId == null %}
      <h2 class="page-title span12">
        {% if data.Coworker.Tariff == null or data.Coworker.Active == false %}
        {% T Choose a price plan %}
        {% else %}
        {% T Price plans %}
        {% endif %}
      </h2>
      {% endif %}
      <!-- CONTENT -->
      <section id="content" class="span12">

        {% if data.Coworker.Tariff.Id != data.Coworker.NextTariff.Id %}
        <div class="alert alert-warning text-center">
          <h4>{% T Your price plan is about to change. %}</h4>
          {% assign renewDateFormated =  data.Coworker.NextInvoice | Date: 'D' %}
          {% if data.Coworker.NextTariff != null %}
          {% T Your price plan will change to "{1}" on {0} || renewDateFormated || data.Coworker.NextTariff.Name %}
          {% else %}
          {% T Your price plan will be cancelled on {0} || renewDateFormated %}
          {% endif %}
        </div>
        {% elseif data.Coworker.CancellationDate != null %}
        <div class="alert alert-warning text-center">
          <h4>{% T Your price plan is about to change. %}</h4>
          {% T Your price plan will be cancelled on {0:D} || data.Coworker.CancellationDate %}
        </div>
        {% elseif data.Coworker.Tariff != null and data.Coworker.Active %}
        <div class="alert alert-info text-center">
          <h4>{% T You are in the "{0}" price plan. || data.Coworker.Tariff.Name %}</h4>
          {% assign renewDateFormated =  data.Coworker.NextInvoice | Date: 'D' %}
          {% T Your price plan is due for renewal on {0}. || renewDateFormated %}
        </div>
        {% endif %}



        {% if data.Local.SelectedTariff != null %}
        <h3>{% T You have selected: %}</h3>
        <div class="accordion" id="accordion-tariffs-selected">

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-tariffs-selected" href="#collapse-{{data.Local.SelectedTariff.Id}}">
                {{ data.Local.SelectedTariff.Name }}
                {% if data.Local.SelectedTariff.InvoiceInMonths %}
                <span class="pull-right">{{ data.Local.SelectedTariff.PriceDecimal | FormatDecimal: 'N2' }}  {{ data.Local.SelectedTariff.Currency.Code }} {% T every %} {{ data.Local.SelectedTariff.InvoiceEvery }} {% T month(s) %}</span>
                {% else %}
                <span class="pull-right">{{ data.Local.SelectedTariff.PriceDecimal | FormatDecimal: 'N2' }}  {{ data.Local.SelectedTariff.Currency.Code }} {% T every %} {{ data.Local.SelectedTariff.InvoiceEveryWeeks }} {% T week(s) %} </span>
                {% endif %}
              </a>
            </div>
            <div id="collapse-{{data.Local.SelectedTariff.Id}}" class="accordion-body collapse in">
              <div class="accordion-inner">

                {{ data.Local.SelectedTariff.Description }}

                <table class="table table-hover invoices">
                  <tbody>
                    {% for service in data.Local.SelectedTariff.ExtraServices %}
                    <tr>
                      <td style="width:20px"><span aria-hidden="true" class="icon i-16 icon-checkmark"></span></td>
                      <td>{{ service.UsesIncluded }} <strong>{{service.ExtraService.Name }}</strong> {% T every %} {% T service.ServiceRenewalTime %}.</td>
                    </tr>
                    {% endfor %}
                    {% for timePass in data.Local.SelectedTariff.TimePasses %}
                    <tr class="hide">
                      <td style="width:20px"><span aria-hidden="true" class="icon i-16 icon-checkmark"></span></td>
                      <td>{{ timePass.PassesIncluded }}x <strong>{{timePass.TimePass.Name }}</strong> {% T every %} {% T timePass.PassRenewalTime %}.</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <div>
                  <a href="#modal-tariff-{{data.Local.SelectedTariff.Id}}-selected" class="btn btn-orange" role="button" data-toggle="modal">{% T Select %}</a>
                </div>
              </div>
            </div>

            <div class="modal hide fade" id="modal-tariff-{{data.Local.SelectedTariff.Id}}-selected">
                <form action="{% Url Profile, Tariff %}" method="post">
                  <input type="hidden" name="Coworker.Tariff" value="{{data.Local.SelectedTariff.Id}}" />
                  <input type="hidden" value="true" name="tc" />
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>{{ data.Local.SelectedTariff.Name }}</h3>
                  </div>
                  <div class="modal-body">
                    <h4>{% T Signup %}</h4>
                    <p>

                      {{ data.Local.SelectedTariff.TermsAndConditions | StripHtml | MarkDown }}
                    </p>
                  </div>
                  <div class="modal-footer">
                    <a href="#" class="btn btn-link" data-dismiss="modal" aria-hidden="true">{% T Close %}</a>
                    <button type="submit" href="#" class="btn btn-orange">{% T Accept T&C and Signup %}</button>
                  </div>
                </form>
              </div>

          </div>

        </div>
        <h3>{% T Other options: %}</h3>
        {% endif %}

        <ul id="membershipTabs" class="nav nav-tabs">
          {% for group in data.Local.PricePlanGroups %}
          <li class="{% if forloop.index0 == 0 %}active{% endif %}"><a href="#{{group | Clean }}" data-toggle="tab">{{ group  }}</a></li>
          {% endfor %}
        </ul>
        <div class="tab-content">
          {% for group in data.Local.PricePlanGroups %}

          <div class="tab-pane {% if forloop.index0 == 0 %}active{% endif %}" id="{{ group  | Clean}}">

            <div class="accordion" id="accordion-tariffs-{{group  | Clean}}">
              {% for tariff in data.Local.Tariffs %}

              {% if tariff.GroupName == group or (tariff.GroupName == null and group == "Price Plans" ) %}

              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-tariffs-{{group  | Clean}}" href="#collapse-{{tariff.Id}}">
                    {{ tariff.Name }}
                    {% if tariff.InvoiceInMonths %}
                    <span class="pull-right">{{ tariff.PriceDecimal | FormatDecimal: 'N2' }}  {{ tariff.Currency.Code }} {% T every %} {{ tariff.InvoiceEvery }} {% T month(s) %}</span>
                    {% else %}
                    <span class="pull-right">{{ tariff.PriceDecimal | FormatDecimal: 'N2' }}  {{ tariff.Currency.Code }} {% T every %} {{ tariff.InvoiceEveryWeeks }} {% T week(s) %} </span>
                    {% endif %}
                  </a>
                </div>
                <div id="collapse-{{tariff.Id}}" class="accordion-body collapse {% if data.Local.PricePlanId == tariff.Id %}in{% endif %}">
                  <div class="accordion-inner">

                    {{ tariff.Description }}

                    <table class="table table-hover invoices">
                      <tbody>
                        {% for service in tariff.ExtraServices %}
                        <tr>
                          <td style="width:20px"><span aria-hidden="true" class="icon i-16 icon-checkmark"></span></td>
                          <td>{{ service.UsesIncluded }} <strong>{{service.ExtraService.Name }}</strong> {% T every %} {% T service.ServiceRenewalTime %}.</td>
                        </tr>
                        {% endfor %}
                        {% for timePass in tariff.TimePasses %}
                        <tr class="hide">
                          <td style="width:20px"><span aria-hidden="true" class="icon i-16 icon-checkmark"></span></td>
                          <td>{{ timePass.PassesIncluded }}x <strong>{{timePass.TimePass.Name }}</strong> {% T every %} {% T timePass.PassRenewalTime %}.</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <div>
                      <a href="#modal-tariff-{{tariff.Id}}" class="btn btn-orange" role="button" data-toggle="modal">{% T Select %}</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal hide fade" id="modal-tariff-{{tariff.Id}}">
                <form action="{% Url Profile, Tariff %}" method="post">
                  <input type="hidden" name="Coworker.Tariff" value="{{tariff.Id}}" />
                  <input type="hidden" value="true" name="tc" />
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>{{ tariff.Name }}</h3>
                  </div>
                  <div class="modal-body">
                    <h4>{% T Signup %}</h4>
                    <p>
                      
                      {{ tariff.TermsAndConditions | StripHtml | MarkDown }}
                    </p>
                  </div>
                  <div class="modal-footer">
                    <a href="#" class="btn btn-link" data-dismiss="modal" aria-hidden="true">{% T Close %}</a>
                    <button type="submit" href="#" class="btn btn-orange">{% T Sign up %}</button>
                  </div>
                </form>
              </div>
              {% endif %}
              {% endfor %}

              {% if data.Coworker.Tariff != null %}
              <a href="#modal-tariff-0" class="btn btn-mini btn-link" role="button" data-toggle="modal">{% T Cancel my subscription %}</a>
              <div class="modal hide fade" id="modal-tariff-0">
                <form action="{% Url Profile, Tariff %}" method="post">
                  <input type="hidden" name="Coworker.Tariff" value="" />
                  <input type="hidden" value="true" name="tc" />
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>{% T Cancel your subscription %}</h3>
                  </div>
                  <div class="modal-body">
                    <p>
                      {% T Your subscription will be renewed on the {0}. Click "Cancel subscription" to leave this price plan || renewDateFormated %}
                    </p>
                  </div>
                  <div class="modal-footer">
                    <a href="#" class="btn btn-link" data-dismiss="modal" aria-hidden="true">{% T Close %}</a>
                    <button type="submit" href="#" class="btn btn-orange">{% T Cancel subscription %}</button>
                  </div>
                </form>
              </div>
              {% endif %}
            </div>

          </div>
          {% endfor %}
        </div>
        {% if (data.Coworker.Tariff == null) and (data.Setting_Signup_MemberMustChooseAPricePlan == null) %}
        {% if (data.Setting_Signup_ShowStoreOnSignUp == 'true' %}
        <p>
          <a class="btn btn-orange" href="{% Url Store, Products %}">{% T Continue without a price plan %}</a>
        </p>
        {% else %}
        <p>
          <a class="btn btn-orange" href="{% Url Profile, ContinueNoTariff %}">{% T Continue without a price plan %}</a>
        </p>
        {% endif %}
        {% endif %}
      </section>
      <!-- END CONTENT -->

    </div>
  </div>
  <!-- END CONTAINER -->


</div>
{% endblock %}
{% block script %}

<script>
  $(function () {
    $('.modal-body a').attr('target', '_blank');
  });
</script>
{% endblock %}
